.page {
    width: 100%;
    height: 100%;
    position: absolute;
}



.tags {
    color: #ffd700;
    left: 120px;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}

.top-tags {
    
    top: 35px;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%; //why??
    min-height: 566px;
    position: absolute;

    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;

}



