
.stage-cube-cont {
    width: 20%;
    height: 50%;
    top: 0;
    position: absolute;
    padding-top: 8%;
    margin-left: 0;
    right: 0;
    overflow: hidden;
}

.cubespinner {
    margin: auto;
    max-width: 100px;
    font-size: 22px;
    line-height: 150%;
    
    li {
        width: 10%;
        list-style-type: disc;
        color: #fff;
    }
    
}

.subtext {
    font-weight: lighter;
    font-size: 12px;
    color: #fff;

}


