.text-zone {
    margin-top: -150px;
}


.contact-form {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    ul {
        padding: 0;
        margin: 0;
        margin-bottom: -450px;
        margin-left: auto;
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 20px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      height: 50px;
      font-size: 16px;
      padding: 0 20px;
      box-sizing: border-box;

    }
    input[placeholder='subject'] {
        margin-left: 2%;
    }
}

textarea {
    width: 100%;
    border: 0;
    height: 50px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
}

.flat-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    // float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    // float: right;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
        background: #f4e698 ;
        color: #fff;
    }
}

.flat-button {
    margin-left: auto;
}